.img-cover-1{
    width: 30%;
}

.img-cover-2{
    width: 30%;
}

.img-cover-3{
    width: 30%;
}

.img-cover-4{
    width: 30%;
}

.cover-align{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}