.shuwa-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.shuwa-img{
    width: 48%;
}

.shuwa-ex{
    width: 30%;
    margin-top: 3%;
}