.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#iframes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

h1.jersey-10-regular{
    font-size: 65px;
}

.certificate-img{
  width: 40%;
}

.certificate-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
  margin-top: 20px;
  flex-wrap: wrap;
}
