.img-mock{
    width: 85%;
    justify-self: center;
    display: block;
}

.img-align{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.img-align img{
    width: 30%;
}